.m-1{margin:1rem}.my-1{margin:1rem 0}.p-1{padding:1rem}.py-1{padding:1rem 0}.m-2{margin:2rem}.my-2{margin:2rem 0}.p-2{padding:2rem}.py-2{padding:2rem 0}.m-3{margin:3rem}.my-3{margin:3rem 0}.p-3{padding:3rem}.py-3{padding:3rem 0}.m-4{margin:4rem}.my-4{margin:4rem 0}.p-4{padding:4rem}.py-4{padding:4rem 0}.m-5{margin:5rem}.my-5{margin:5rem 0}.p-5{padding:5rem}.py-5{padding:5rem 0}.m-6{margin:6rem}.my-6{margin:6rem 0}.p-6{padding:6rem}.py-6{padding:6rem 0}.m-7{margin:7rem}.my-7{margin:7rem 0}.p-7{padding:7rem}.py-7{padding:7rem 0}.m-8{margin:8rem}.my-8{margin:8rem 0}.p-8{padding:8rem}.py-8{padding:8rem 0}.m-9{margin:9rem}.my-9{margin:9rem 0}.p-9{padding:9rem}.py-9{padding:9rem 0}.m-10{margin:10rem}.my-10{margin:10rem 0}.p-10{padding:10rem}.py-10{padding:10rem 0}.m-15{margin:15rem}.my-15{margin:15rem 0}.p-15{padding:15rem}.py-15{padding:15rem 0}.border{border:none}.border-bottom{border-bottom:solid #0000}.card{box-shadow:0 9px 14px rgba(9,196,221,0.034)}.card-full{margin-top:10em;text-align:center;color:#615d5d;border-bottom:1px solid #615d5d36}.card-small{text-align:start}.card-left{font-size:1.5rem;font-weight:200;color:#376a8d}.x-large{font-size:4rem;line-height:1.2;margin-bottom:1rem}.large{font-size:3rem;margin-bottom:1rem;line-height:1.2}.lead{font-size:1.5rem;margin-bottom:1rem}.text-lead{color:#1CA2C7;font-size:1.5rem;font-weight:600}.bg-main{background-color:#E0D6D3}.bg-blue{background-color:#376a8d}.bg-orange{background-color:#E4572E}.bg-bordeau{background-color:#9D6A89}.bg-card{background-color:#C4C4C4;color:#4F4F4F}.bg-red{background-color:#ea6b95}.bg_light_blue{background:#1CA2C7}.box-text{position:relative}.box{width:50%;height:12%;background-color:#e0d6d318;z-index:1;left:10%;position:absolute}.box-left{width:50%;height:12%;background-color:#e7d4d948;z-index:1;left:40%;position:absolute}.text-lead{color:#e40d66 !important;font-weight:bold}.text-left{color:#e40d66 !important;font-size:1.5rem;margin-bottom:1rem;font-weight:bold}.expl-text{font-size:larger;color:white;font-style:italic;margin:10%}.process{background-color:rgba(58,90,139,0.883)}.svg{margin-left:20%;margin-top:5%;width:50%}form{width:100%;height:100%}form .form-group{margin:2rem;width:40%}form .form-group input[type=text],form .form-group input[type=email],form .form-group input[type=password],form .form-group input[type=date],form .form-group input[type=submit],form .form-group select,form .form-group textarea{display:block;width:100%;margin:0;padding:0;font-size:1.2rem;border:none;background-color:#E0D6D3;border-color:none;border-bottom:1px solid #376a8d}form .form-group button{display:inline-block;width:100%;height:3rem;font-size:1.5rem;background-color:#ea6b95;color:#E0D6D3;border-color:#ea6b95;border-radius:10px}form .form-group button:hover{opacity:.8;color:#1CA2C7}.form{display:grid;grid-template-columns:repeat(5, 1fr);grid-auto-rows:auto;background-color:#E0D6D3 !important}.form-image{grid-column:1/3;background-image:url("./img/form-img.jpg");background-size:cover;background-position:center center}.form-body{padding:2em;grid-column:3/6}.form-body p{font-size:2rem;color:#376a8d}.form-body small{color:#1CA2C7;font-size:0.9rem}.form-body-group{margin:1.2rem 0}.form-body-text{display:block;margin-top:0.3rem;color:black}.form-body-small{font-size:0.2rem;color:#105151}*{box-sizing:border-box;margin:0;padding:0}body{font-size:1rem;line-height:1.6;background-color:#E0D6D3;color:#333;font-family:'Kumbh Sans', sans-serif}a{text-decoration:none}ul{list-style:none}.navbar{display:flex;border:none;justify-content:space-between;margin:1rem;flex-grow:1}.navbar-logo img{width:30%;height:5%}.navbar-access{display:flex;flex-basis:40rem;color:#ea6b95;justify-content:flex-end;font-size:1rem;margin-left:2rem}.navbar-access li{display:inline-block;margin-left:5rem}.landing{position:relative;background-color:rgba(71,4,68,0.116);margin:3em;height:80vh;display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:1rem;grid-auto-rows:minmax(5rem, auto);grid-template-rows:repeat(5, 1fr)}.landing-start{background-color:#E0D6D3;background-blend-mode:darken;grid-column:1/2;grid-row:4/6;height:400px;background-image:url("./img/img1.jpg");background-size:cover;background-position:center center}.landing-center{background-color:#E0D6D3;background-blend-mode:luminosity;grid-column:2/3;grid-row:2/7;background-image:url("./img/img2.jpg");background-size:cover;background-repeat:no-repeat;background-position:center center}.landing-end{background-color:#E0D6D3;background-blend-mode:darken;grid-column:3/5;grid-row:1/6;background-image:url("./img/img3.jpg");background-size:cover;background-repeat:no-repeat}.landing-text{position:absolute;width:25rem;height:5rem;background-color:#1CA2C7;padding:2em;font-size:2.5em;top:5rem}.landing-text-left{position:absolute;width:35%;background-color:#376a8d;padding:1em;font-size:3em;top:35rem;left:55rem;color:#fcfff7}.inner{display:grid;grid-template-columns:1fr 3fr}.inner-left{display:grid;grid-template-columns:3fr 1fr}.work{display:grid;grid-template-columns:1fr 1fr 1fr 1fr}.footer{width:100%;color:white;font-size:2rem}.profile{height:100vh;display:grid;grid-template-rows: 10% 90%;}.profile-search{text-align:center;padding:1em;border-bottom:1px solid blue;}.profile-main{background-color:#E0D6D3;display:grid;grid-template-columns:repeat(4, 1fr);grid-template-rows:repeat(1, fr);padding:2rem;background-color:#1CA2C7}.profile-main img{width:200px;height:200px}.profile-main-picture{grid-column:1/2}.profile-main-about{grid-column:2/5;color:#E0D6D3;font-weight:700}.profile-main-review{grid-column:1/2;grid-row:2/6}.profile-main-form{grid-column:2/5;grid-row:2/6;background-color:#E0D6D3}.dashboard{display:grid;grid-template-columns:15% 90%;grid-template-rows:100vh 1fr}.dashboard-icons{background-image:url("./img/form-img.jpg");background-size:cover;background-position:center;box-shadow:inset 0 0 0 2000px rgba(1,25,53,0.8)}.dashboard-icons ul{margin-top:55%;color:white}.dashboard-icons ul li{display:block;font-size:1em;padding:1em}.dashboard-icons i{font-size:2em;display:inline-block;margin:5px;font-weight:bold}.dashboard-body{background:white}.dashboard-body--profile{background-color:#1CA2C7;padding:2em;color:white;border-bottom:1px solid #ea6b95}@media screen and (min-width: 960px){navbar{display:flex;border:none;justify-content:space-between;margin:1rem;flex-grow:1}navbar-logo{color:#ea6b95}navbar-access{display:flex;flex-basis:40rem;color:#ea6b95;justify-content:flex-end;font-size:1rem;margin-left:2rem}navbar-access li{display:inline-block;margin-left:2rem}.landing{position:relative;margin:1em;height:80vh;display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:1rem;grid-auto-rows:minmax(5rem, auto);grid-template-rows:repeat(5, 1fr)}.landing-start{background-color:#E0D6D3;background-blend-mode:darken;grid-column:1/2;grid-row:4/6;height:300px;background-image:url("./img/img1.jpg");background-size:cover;background-position:center center}.landing-center{background-color:#E0D6D3;background-blend-mode:luminosity;grid-column:2/3;grid-row:2/7;background-image:url("./img/img2.jpg");background-size:cover;background-repeat:no-repeat;background-position:center center}.landing-end{background-color:#E0D6D3;background-blend-mode:darken;grid-column:3/5;grid-row:1/6;background-image:url("./img/img3.jpg");background-size:cover;background-repeat:no-repeat}.landing-text{position:absolute;width:15rem;height:5rem;background-color:#1CA2C7;padding:2em;font-size:1.5em;top:2rem}.landing-text-left{position:absolute;width:45%;background-color:#ea6b95;padding:1em;font-size:1.5em;top:80%;left:55%;color:#fcfff7}.inner{display:grid;grid-template-columns:1fr 3fr;color:black}.work{display:grid;grid-template-columns:1fr 1fr 1fr 1fr}.footer{width:100%;color:white;font-size:2rem}}@media screen and (min-width: 760px) and (max-width: 960px){navbar{display:flex;border:none;margin:1rem;flex-grow:1}navbar-logo{color:#ea6b95}navbar-access li{display:flex;flex-basis:10rem;color:#ea6b95;justify-content:flex-end;font-size:1rem;justify-content:flex-end;margin-left:2rem}navbar a:visited{color:#ea6b95}.landing{position:relative;margin:1em;height:80vh;display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:2rem;grid-auto-rows:minmax(5rem, auto);grid-template-rows:repeat(5, 1fr)}.landing-start{background-color:#E0D6D3;background-blend-mode:darken;grid-column:1/3;grid-row:2/4;height:300px;background-image:url("./img/img1.jpg");background-size:cover;background-position:center center}.landing-center{background-color:#E0D6D3;background-blend-mode:luminosity;grid-column:1/3;grid-row:4/6;background-size:cover;background-repeat:no-repeat;background-position:center center}.landing-end{background-color:#E0D6D3;background-blend-mode:darken;grid-column:3/5;grid-row:1/6;background-image:url("./img/img3.jpg");background-size:cover;background-repeat:no-repeat;background-position:center center}.landing-text{position:absolute;width:15rem;height:5rem;background-color:#1CA2C7;padding:2em;font-size:1.5em;top:0.5rem;color:black}.landing-text-left{position:absolute;width:35%;background-color:#376a8d;padding:1em;font-size:2em;top:80%;left:45%;color:#fcfff7}.about{width:100%}.inner{display:grid;grid-template-columns:1fr 3fr}.work{display:grid;grid-template-columns:1fr 1fr;grid-gap:2em}.footer{width:100%;color:white;font-size:2rem}}@media screen and (min-width: 240px) and (max-width: 760px){.navbar{display:flex;border:none;justify-content:space-between;margin:1rem;flex-grow:1}.navbar-logo{color:#ea6b95}.navbar-access{display:flex;flex-basis:40rem;color:#ea6b95;justify-content:flex-end;font-size:1rem;margin-left:2rem}.navbar-access li{display:inline-block;margin-left:5rem}.landing{position:relative;margin-top:10rem;height:80vh;display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:1rem;grid-auto-rows:minmax(5rem, auto);grid-template-rows:repeat(3, 1fr)}.landing-start{background-color:#E0D6D3;background-blend-mode:darken;grid-column:1/5;grid-row:1/3;height:800px;background-image:url("./img/img1.jpg");background-size:cover;background-position:center center}.landing-center{position:absolute;left:-40rem}.landing-end{position:absolute;left:-40rem}.landing-text{position:absolute;width:15rem;height:1rem;background-color:#1CA2C7;padding:1em;font-size:2em;top:-4em;color:white}.landing-text-left{position:absolute;width:35%;background-color:#376a8d;padding:1em;font-size:1em;top:15rem;left:5rem;color:#fcfff7;display:none}.inner{position:relative;display:grid;grid-template-columns:1fr}.inner .text-lead{display:none;position:absolute;left:-2000px}.inner-left{position:relative;display:grid;grid-template-columns:1fr}.inner-left .text-lead{display:none;position:absolute;left:-2000px}.work{display:grid;grid-template-columns:1fr 1fr 1fr 1fr}.footer{width:100%;color:white;font-size:2rem}}



.dashboard-body--report{

  margin:2em;
  padding:2em;
}

.mtoto{
  padding:2px;
  display:flex;
  justify-content :space-between
}

.dashboard-profiles{
  margin:2em;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  
}

.img-profile{
  width:200px;
  height:200px;
}





.dashboard-report{
  margin:2em;
 
}
.connect{

 display:flexbox!important

}

.profile-main-picture > img{
 width:100px;
 height:100px;
}


/* .m-1 {
  margin: 1rem
}

.my-1 {
  margin: 1rem 0
}

.p-1 {
  padding: 1rem
}

.py-1 {
  padding: 1rem 0
}

.m-2 {
  margin: 2rem
}

.my-2 {
  margin: 2rem 0
}

.p-2 {
  padding: 2rem
}

.py-2 {
  padding: 2rem 0
}

.m-3 {
  margin: 3rem
}

.my-3 {
  margin: 3rem 0
}

.p-3 {
  padding: 3rem
}

.py-3 {
  padding: 3rem 0
}

.m-4 {
  margin: 4rem
}

.my-4 {
  margin: 4rem 0
}

.p-4 {
  padding: 4rem
}

.py-4 {
  padding: 4rem 0
}

.m-5 {
  margin: 5rem
}

.my-5 {
  margin: 5rem 0
}

.p-5 {
  padding: 5rem
}

.py-5 {
  padding: 5rem 0
}

.border {
  border: none
}

.border-bottom {
  border-bottom: solid #0000
}

.card {
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.1)
}

.card-full {
  text-align: center
}

.card-small {
  text-align: start;
  opacity: 0.5
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem
}

.large {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.2
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white
}

.text-lead {
  color: #1CA2C7;
  font-size: 1.5rem
}

.bg-main {
  background-color: #E0D6D3
}

.bg-blue {
  background-color: #376a8d
}

.bg-orange {
  background-color: #E4572E
}

.bg-bordeau {
  background-color: #9D6A89
}

.bg-card {
  background-color: #C4C4C4;
  color: #4F4F4F
}

.bg-red {
  background-color: #e01a22
}

form {
  width: 100%
}

form .form-group {
  margin: 2rem;
  width: 40%
}

form .form-group input[type=text],
form .form-group input[type=email],
form .form-group input[type=password],
form .form-group input[type=date],
form .form-group input[type=submit],
form .form-group select,
form .form-group textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  border: none;
  background-color: #E0D6D3;
  border-color: none;
  border-bottom: 1px solid #376a8d
}

form .form-group button {
  display: inline-block;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  background-color: #e01a22;
  color: #E0D6D3;
  border-color: #e01a22;
  border-radius: 10px
}

form .form-group button:hover {
  opacity: .8;
  color: #1CA2C7
}

.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100vh, auto)
}

.form-image {
  grid-column: 1/3;
  background-image: url("./img/form-img.jpg");
  background-size: cover;
  background-position: center center
}

.form-body {
  padding: 2em;
  grid-column: 3/6
}

.form-body p {
  font-size: 2rem;
  color: #376a8d
}

.form-body small {
  color: #1CA2C7;
  font-size: 0.9rem
}

.form-body-group {
  margin: 1.2rem 0
}

.form-body-text {
  display: block;
  margin-top: 0.3rem;
  color: black
}

.form-body-small {
  font-size: 0.2rem;
  color: #105151
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #E0D6D3;
  color: #333;
  font-family: 'Kumbh Sans', sans-serif
}

a {
  text-decoration: none
}

ul {
  list-style: none
}

.navbar {
  display: flex;
  border: none;
  justify-content: space-between;
  margin: 1rem;
  flex-grow: 1
}

.navbar-logo {
  color: #e01a22
}

.navbar-access {
  display: flex;
  flex-basis: 20rem;
  color: #e01a22;
  font-size: 1.5rem;
  margin-left: 2rem
}

.navbar-access li {
  display: inline-block;
  margin-left: 5rem
}

.landing {
  position: relative;
  margin: 1em;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(30rem, auto);
  grid-template-rows: repeat(6, 1fr)
}

.landing-start {
  background-color: #E0D6D3;
  background-blend-mode: darken;
  grid-column: 1/2;
  grid-row: 4/6;
  height: 400px;
  background-image: url("./img/img1.jpg");
  background-size: cover;
  background-position: center center
}

.landing-center {
  background-color: #E0D6D3;
  background-blend-mode: luminosity;
  grid-column: 2/3;
  grid-row: 2/7;
  background-image: url("./img/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.landing-end {
  background-color: #E0D6D3;
  background-blend-mode: darken;
  grid-column: 3/5;
  grid-row: 1/6;
  background-image: url("./img/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

.landing-text {
  position: absolute;
  width: 25rem;
  height: 5rem;
  background-color: #1CA2C7;
  padding: 2em;
  font-size: 2.5em;
  top: 5rem
}

.landing-text-left {
  position: absolute;
  width: 45rem;
  background-color: #376a8d;
  padding: 1em;
  font-size: 3em;
  top: 35rem;
  left: 55rem;
  color: #fcfff7
}

.inner {
  display: grid;
  grid-template-columns: 1fr 3fr
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr
}

.footer {
  width: 100%;
  color: white;
  font-size: 2rem
}

.profile-main {
  background-color: white;
  height: 100vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20%;
  grid-template-rows: repeat(4, fr);
  padding: 2rem
}

.profile-main img {
  width: 200px;
  height: 200px
}

.profile-main-picture {
  grid-column: 1/2
}

.profile-main-about {
  grid-column: 2/5
}

.profile-main-review {
  grid-column: 1/2;
  grid-row: 2/6
}

.profile-main-form {
  grid-column: 2/5;
  grid-row: 2/6
} */